<div class="screen-cover" role="status" *ngIf="isLoading">
	<div class="spinner-grow text-primary"></div>
  </div>
<div class="register-form">
  <form [formGroup]="form">
      <button (click)="return()" class="btn btn-secondary">Regresar</button>
      <hr>
      <div class="form-group">
        <label>Id number</label>
        <input
          type="text"
          formControlName="id_number"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['id_number'].errors }"
        />
        <div *ngIf="submitted && f['id_number'].errors" class="invalid-feedback">
          <div *ngIf="f['id_number'].errors['required']">Id number is required</div>
          <div *ngIf="f['id_number'].errors['pattern']">Id number is invalid</div>
        </div>
      </div>
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        formControlName="full_name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['full_name'].errors }"
      />
      <div *ngIf="submitted && f['full_name'].errors" class="invalid-feedback">
        <div *ngIf="f['full_name'].errors['required']">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Phone number</label>
      <input
        type="text"
        formControlName="phone_number"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }"
      />
      <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
        <div *ngIf="f['phone_number'].errors['required']">Phone number is required</div>
        <div *ngIf="f['phone_number'].errors['pattern']">Phone number is invalid</div>

      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        formControlName="email_address"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email_address'].errors }"
      />
      <div *ngIf="submitted && f['email_address'].errors" class="invalid-feedback">
        <div *ngIf="f['email_address'].errors['required']">Email is required</div>
        <div *ngIf="f['email_address'].errors['email']">Email is invalid</div>
      </div>
    </div>  

    <div class="form-group">
      <label>Position</label>
      <input
        type="text"
        formControlName="position_name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['position_name'].errors }"
      />
      <div *ngIf="submitted && f['position_name'].errors" class="invalid-feedback">
        <div *ngIf="f['position_name'].errors['required']">Position is required</div>
      </div>
    </div>
    <hr>
  </form>
  <button (click)="saveData()" class="btn btn-primary" [disabled]="form.pristine">Guardar cambios</button>
</div>