
<div class="screen-cover" role="status" *ngIf="isLoading">
	<div class="spinner-grow text-primary"></div>
  </div>
<div *ngIf="technicians!=null" >
	<div class="search-bar">
	<button (click)="goToCreateUser()" class="btn btn-primary">Create technician</button>
	<div class="search-group">
    <nz-select
      nzShowSearch
      nzServerSearch
      nzPlaceHolder="input search text"
      [(ngModel)]="selectedValue"
      [nzShowArrow]="false"
      [nzFilterOption]="nzFilterOption"
      (nzOnSearch)="search($event)"
	  class="search"
    >
      <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
    </nz-select>
	<button class="btn btn-info" (click)="handleSearch()">Go!</button></div>	
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Full name</th>
			<th scope="col">Id number</th>
			<th scope="col">Phone number</th>
			<th scope="col">Email</th>
			<th scope="col">Position</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let technician of technicians">
			<th scope="row">{{ technician.id }}</th>
			<td>{{ technician.full_name }}</td>
			<td>{{ technician.id_number }}</td>	
			<td>{{ technician.phone_number}}</td>
			<td>{{ technician.email_address }}</td>
			<td>{{ technician.position_name }}</td>
			<td>
				<button (click)="goToUserDetails(technician.id)" class="btn btn-secondary">Edit</button>
				<button (click)="open(content,technician.id)" class="btn btn-danger">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="_page"
		[pageSize]="_limit"
		(pageChange)="refreshTable()"
	>
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="_limit" (ngModelChange)="refreshTable()">
		<option [ngValue]="10">10 items per page</option>
		<option [ngValue]="20">20 items per page</option>
		<option [ngValue]="30">30 items per page</option>
	</select>
</div>
</div>
<div *ngIf="technicians==null" class="no-content"><h1>There's no info to show</h1></div>

<ng-template #content let-c="close">    
	<div class="modal-header"> 
		<button type="button" class="close btn btn-light" aria-label="Close" (click)="c('exit')">    
			<span aria-hidden="true">×</span>    
		</button>    
	</div>    
	<div class="modal-body">    
		<p>Are you sure to delete this?</p>    
	</div>    
	<div class="modal-footer">    
		<button type="button" class="btn btn-secondary" (click)="c('no')">Cancel</button>    
		<button type="button" class="btn btn-danger" (click)="c('yes')">Yes</button>    
	</div>    
</ng-template>     
