<div *ngIf="subscribers!=null" >
	<button (click)="goToCreateUser()">Crear subscriptor</button>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Teléfono</th>
			<th scope="col">Correo</th>
			<th scope="col">Estado</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let subscriber of subscribers">
			<th scope="row">{{ subscriber.Name }}</th>
			<td>{{ subscriber.PhoneCodeAndNumber }}</td>
			<td>{{ subscriber.Email}}</td>
			<td>{{ subscriber.SubscriptionStateDescription }}</td>
			<td>
				<button (click)="goToUserDetails(subscriber.Id)">Detalles</button>
				<button (click)="open(content,subscriber.Id)"
			>
				Borrar
			</button></td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="count"
		(pageChange)="refreshTable()"
	>
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="count" (ngModelChange)="refreshTable()">
		<option [ngValue]="10">10 items per page</option>
		<option [ngValue]="20">20 items per page</option>
		<option [ngValue]="30">30 items per page</option>
	</select>
</div></div>
<div *ngIf="subscribers==null" class="no-content"><h1>No hay información para mostrar</h1></div>

<ng-template #content let-c="close" let-d="dismiss">    
	<div class="modal-header">    
		<h4 class="modal-title" id="modal-basic-title">Confirmation</h4>    
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">    
			<span aria-hidden="true">×</span>    
		</button>    
	</div>    
	<div class="modal-body">    
		<p>Are you sure to delete this?</p>    
	</div>    
	<div class="modal-footer">    
		<button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>    
		<button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>    
	</div>    
</ng-template>     
