
<div *ngIf="technicians!=null" >
	<button (click)="goToCreateUser()" class="btn btn-primary">Crear subscriptor</button>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Full name</th>
			<th scope="col">Id number</th>
			<th scope="col">Phone number</th>
			<th scope="col">Email</th>
			<th scope="col">Position</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let technician of technicians">
			<th scope="row">{{ technician.id }}</th>
			<td>{{ technician.full_name }}</td>
			<td>{{ technician.id_number }}</td>	
			<td>{{ technician.phone_number}}</td>
			<td>{{ technician.email_address }}</td>
			<td>{{ technician.position_name }}</td>
			<td>
				<button (click)="goToUserDetails(technician.id)" class="btn btn-secondary">Detalles</button>
				<button (click)="open(content,technician.id)" class="btn btn-danger">Borrar</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="_page"
		[pageSize]="_limit"
		(pageChange)="refreshTable()"
	>
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="_limit" (ngModelChange)="refreshTable()">
		<option [ngValue]="10">10 items per page</option>
		<option [ngValue]="20">20 items per page</option>
		<option [ngValue]="30">30 items per page</option>
	</select>
</div>
</div>
<div *ngIf="technicians==null" class="no-content"><h1>No hay información para mostrar</h1></div>

<ng-template #content let-c="close">    
	<div class="modal-header"> 
		<button type="button" class="close btn btn-light" aria-label="Close" (click)="c('exit')">    
			<span aria-hidden="true">×</span>    
		</button>    
	</div>    
	<div class="modal-body">    
		<p>Are you sure to delete this?</p>    
	</div>    
	<div class="modal-footer">    
		<button type="button" class="btn btn-secondary" (click)="c('no')">Cancel</button>    
		<button type="button" class="btn btn-danger" (click)="c('yes')">Yes</button>    
	</div>    
</ng-template>     
