<div class="register-form">
    <form>
        <button (click)="return()">Regresar</button>
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          formControlName="fullname"
          class="form-control"
          [value]="form.value.name"
          disabled="canUserEdit"
        />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          disabled="canUserEdit"
          [value]="form.value.email"
        />
      </div>  
      <div class="form-group">
        <label>Country Code</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          disabled="canUserEdit"
          [value]="form.value.countryCode"
        />
      </div>  
      <div class="form-group">
        <label>Phone number</label>
        <input
          type="text"
          formControlName="password"
          [value]="form.value.phoneNumber"
          disabled="canUserEdit"
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <label>Area</label>
        <input
          type="text"
          formControlName="confirmPassword"
          [value]="form.value.area"
          disabled="canUserEdit"
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <label>Job title</label>
        <input
          type="text"
          formControlName="confirmPassword"
          disabled="canUserEdit"
          [value]="form.value.jobTitle"
          class="form-control"
        />
      </div>
      <hr>
  
<!--       <div class="form-group">
        <button
          type="button"
          (click)="toogleEdit()"
          class="btn btn-primary"
        >
          Editar
        </button>
        <button
          type="button"
          (click)="onSubmit()"
          disabled="!canUserEdit"
          class="btn btn-warning float-right"
        >
          Guardar
        </button>
      </div> -->
    </form>
  </div>